body{
background-color: hsl(218, 28%, 13%);
}

.top-color{
    background-color: hsl(217, 28%, 15%);
}

.heading-text {
    color:hsl(0, 0%, 100%);
    font-family: 'Raleway', sans-serif;
    font-weight: 400, 700;
    font-size: 32px;
}

.greet-image{
    width: 75%;
}

.intro-block{
    text-align: center;
    margin: auto;
    width: 50%;
}
.btn-gradient{
    background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    color: hsl(0, 0%, 100%);
    outline: none;
    width: 250px;
    padding: 15px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.body-text{
    color: hsl(0, 0%, 100%);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400, 700;
}


