body{
background-color: hsl(218, 28%, 13%);
z-index: 0
}

.top-color{
    background-color: hsl(217, 28%, 15%);
}

.nav-spacer{
    padding: 40px;
}

.logo-sizer{
    width: 150px;
}

.heading-text {
    color:hsl(0, 0%, 100%);
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.emphasis-text {
    color:hsl(0, 0%, 100%);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.greet-image{
    width: 75%;
}


.intro-block{
    position: relative;
    text-align: center;
    margin: auto;
    width: 50%;
}


.mid-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;

}

.block-small{
    width: 65%;
    margin: auto;
}
.btn-gradient{
    background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    color: hsl(0, 0%, 100%);
    outline: none;
    width: 250px;
    padding: 15px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.body-text{
    color: hsl(0, 0%, 100%);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.body-text-bold{
    color: hsl(0, 0%, 100%);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.fake-link{
    color: hsl(176, 68%, 64%);
    border-bottom: 1px solid hsl(176, 68%, 64%);
    width: 160px;
}

.container-custom {
    padding: 70px;
}

.row-sizer{
    margin: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.col-custom {
    text-align: center;  
}

.col-text{
    padding: 40px;
}

.widther{
    padding-left: 40px;
    padding-right: 40px;
}

.head-width{
    padding-top: 40px;
    width: 300px;
}
.col-img2{
    height: 64px;
    margin: 20px;
}

.col-img1{
    height: 78px;
    margin: 20px;
}

.col-inside{
    position: relative;
    background-color: hsl(219, 30%, 18%);
    padding: 25px;
    height: auto;
    z-index: 3;
}

.quotes{
    position: absolute;
    left: -3px;
    top: -35px;
    z-index: 1;
}

.adder{
    position: relative;
}

.profile-container{
    margin: 100px;
}

.profile-img{
    border-radius: 50%;
    width: 30px;
}

.profile-spacer{
    margin-left: 10px;
}

.profile-name{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    margin-bottom: 0;
}

.profile-title{
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
    margin-bottom: 0;
}

.float-box{
    background-color: hsl(217, 28%, 15%);
    margin-top: 150px;
    margin-bottom: 70px;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-right: 70px;
    padding-left: 70px;
}

.float-box-width{
    width: 850px;
    margin: auto;
}

.form-sizer{
    width: 400px;
    height: 52px;
    padding: 20px;
}

.form-row-sizer{
    margin-top: 35px;
}

.custom-footer{
    background-color: hsl(216, 53%, 9%);
    padding-top: 200px;
    padding-bottom: 100px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 0;
}

.logo-col{
    margin-bottom: 20px;
}


.social-icons{
    width: 30px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    margin: 5px;
    
}